$font-color : #95a5a6;
$couleurH1 : #ecf0f1;
$taille : 50px;
$lime : #00FF00;

body{
	background-color : $font-color;

}

h1{
	color : $couleurH1;
}


table{
	td{
		border-radius: solid $lime 0.5px;
		height: $taille;
		width: $taille;
	}
}